ProjectW10Client/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientsData" nillable="true" type="tns:ClientsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientsData" nillable="true" type="tns:ArrayOfClientsData" />
  <xs:complexType name="ClientsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChargeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IndustryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndustryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LawyerId" type="xs:int" />
      <xs:element minOccurs="0" name="LawyerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientsData" nillable="true" type="tns:ClientsData" />
  <xs:complexType name="ArrayOfCountriesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountriesData" nillable="true" type="tns:CountriesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountriesData" nillable="true" type="tns:ArrayOfCountriesData" />
  <xs:complexType name="CountriesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountriesData" nillable="true" type="tns:CountriesData" />
  <xs:complexType name="ArrayOfLawyersData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LawyersData" nillable="true" type="tns:LawyersData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLawyersData" nillable="true" type="tns:ArrayOfLawyersData" />
  <xs:complexType name="LawyersData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LawyersData" nillable="true" type="tns:LawyersData" />
</xs:schema>